fastapi==0.115.12
uvicorn[standard]==0.34.2
redis==5.2.1
rq==2.2.0
beets==2.2.0
ytmusicapi==1.10.3
python-multipart==0.0.20
SQLAlchemy==2.0.40
alembic==1.15.2
psycopg[binary]==3.2.7
cryptography==45.0.2
watchdog==6.0.0
